.container{
    width: 650px;
    height: 530px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid black;
}
h1{
    text-align: center;
}
.first{
    background-color: lightblue;
    height: 40px;
    width: 100%;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 5px;
}
.first_1{
    width: 100%;
    height: 40px;
    padding-top: 12px;
    
}
.second{
    background-color: lightgray;
    height: 40px;
    width: 100%;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 5px;
}
.second_2{
    width: 100%;
    height: 40px;
    padding-top: 12px;
}
.third{
    background-color: lightgreen;
    height: 40px;
    width: 100%;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 5px;
}
.third_3{
    width: 100%;
    height: 40px;
    padding-top: 12px;
}
.four{
    background-color: lightpink;
    height: 40px;
    width: 100%;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 5px;
}
.four_4{
    width: 100%;
    height: 40px;
    padding-top: 12px;
}
.five{
    background-color: rgb(255, 255, 15);
    height: 40px;
    width: 100%;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 5px;
}
.five_5{
    width: 100%;
    height: 40px;
    padding-top: 12px;
}
.six{
    background-color: skyblue;
    height: 40px;
    width: 100%;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 5px;
}
.six_6{
    width: 100%;
    height: 40px;
    padding-top: 12px;
}
.seven{
    background-color: whitesmoke;
    height: 40px;
    width: 100%;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 5px;
}
.seven_7{
    width: 100%;
    height: 40px;
    padding-top: 12px;
}
.eight{
    background-color: lightgrey;
    height: 40px;
    width: 100%;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 5px;
}
.eight_8{
    width: 100%;
    height: 40px;
    padding-top: 12px;  
}